<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<title>Magic Tracker</title>
		<meta name="description" content="Milkshake El Gargling season tracker">
		<link rel="preload" href="/fonts/planewalker-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
		<link rel="stylesheet" rel="preload" as="style" type="text/css" href="{{constant('SITE_CSS')}}{{current_page}}.css?_={{constant('HASH')}}">
		<script type="text/javascript" rel="preload" as="script" src="{{constant('SITE_JS')}}{{current_page}}.js?_={{constant('HASH')}}"></script>
		<link rel="icon" href="/img/favicon.svg">
	</head>
	<body>
		<div id="modalcontainer" class="closed">
			<div id="modalcontent">
				<button id="closemodal">close</button>
			</div>
		</div>
		<div id="maincontainer">