<div class="row">
	<h1>{{page_title}}</h1>
	<select id="statseasonselect">
		<option value="" {{seasonid is empty ? 'selected' : ''}}>Global</option>
		{% for season in seasons %}
		<option value="{{season.id}}" {{seasonid == season.id ? 'selected' : ''}}>{{season.name}} ({{season.startDate}} - {{season.endDate}})</option>
		{% endfor %}
	</select>
</div>
<hr/>
<div class="row" id="statscontainer">
	{% for stattitle,stats in statgroups %}
	<div class="statsitem">
		<h2>{{stattitle}}</h2>
		<ul>
			{% for stat in stats%}
			<li>{{stat}}</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>
<hr/>
<div class="row" id="otherbuttons">
	<button class="otherbutton">
		<a href="/">
			<img alt="Ravnica" src="/img/ravnica.svg"/>
			Home
		</a>
	</button>
</div>